:root {
  --yangColor: #d8c21e;
  --yinColor: #111111;
  --child-1: #ffba08;
  --child-2: #f48c06;
  --child-3: #e85d04;
  --child-4: #d00000;
  --child-5: #9d0208;
  --child-A: #ffea00;
  --child-B: #ffdd00;
  --child-C: #ffd000;
  --child-D: #ffc300;
  --child-E: #ffba08;
  --child-F: #ffaa00;
  --child-G: #faa307;
  --child-H: #ffa200;
  --child-I: #ff9500;
  --child-J: #f48c06;
  --child-K: #ff8800;
  --child-L: #ff7b00;
  --child-M: #e85d04;
  --child-N: #dc2f02;
  --child-O: #d00000;
  --child-P: #9b2226;
  --child-R: #9d0208;
  --child-S: #6a040f;
  --child-T: #370617;
  --child-U: #03071e;
  --size: 4rem;
  --gap: 3rem;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--yinColor);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2rem;
}

.example {
  width: 100%;
  overflow: hidden;
}

.example:not(:first-child) {
  margin-top: var(--gap);
  padding-top: var(--gap);
  border-top: var(--child-5) 5px dotted;
  width: 100%;
}

.parent {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid var(--yangColor);
}

.parent.height {
  height: 500px;
}

.child {
  display: grid;
  place-items: center;
  padding: 1rem;
}

.child-square {
  width: var(--size);
  height: var(--size);
}

.child-rectangle {
  min-width: var(--size);
  height: var(--size);
}

.codeblock {
  position: relative;
  color: var(--yangColor);
  margin: 20px 0;
  background-color: var(--child-U);
  border: 1px solid var(--child-3);
}

.code-title {
  color: var(--child-3);
}

.code-property {
  color: var(--child-2);
}

.child-1 {
  background-color: var(--child-1);
}

.child-2 {
  background-color: var(--child-2);
}

.child-3 {
  background-color: var(--child-3);
}

.child-4 {
  background-color: var(--child-4);
}

.child-5 {
  background-color: var(--child-5);
}

.child-A {
  background-color: var(--child-A);
}

.child-B {
  background-color: var(--child-B);
}

.child-C {
  background-color: var(--child-C);
}

.child-D {
  background-color: var(--child-D);
}

.child-E {
  background-color: var(--child-E);
}

.child-F {
  background-color: var(--child-F);
}

.child-G {
  background-color: var(--child-G);
}

.child-H {
  background-color: var(--child-H);
}

.child-I {
  background-color: var(--child-I);
}

.child-J {
  background-color: var(--child-J);
}

.child-K {
  background-color: var(--child-K);
}

.child-L {
  background-color: var(--child-L);
}

.child-M {
  background-color: var(--child-M);
}

.child-N {
  background-color: var(--child-N);
}

.child-O {
  background-color: var(--child-O);
  color: var(--child-S);
}

.child-P {
  background-color: var(--child-P);
  color: var(--child-U);
}

.child-R {
  background-color: var(--child-R);
  color: var(--child-M);
}

.child-S {
  background-color: var(--child-S);
  color: var(--child-N);
}

.child-T {
  background-color: var(--child-T);
  color: var(--child-O);
}

.child-U {
  background-color: var(--child-U);
  color: var(--child-S);
}

.mt-20 {
  margin-top: 20px;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-justify-content-space-around {
  justify-content: space-around;
}

.flex-justify-content-space-evenly {
  justify-content: space-evenly;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-align-items-end {
  align-items: flex-end;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-baseline {
  align-items: baseline;
}

.direction-rtl {
  direction: rtl;
}

.cjk-characters {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
